@page
@model VPM.Pages.Buildings.DetailsModel
@{
    ViewData["Title"] = "Building | Details";
}

<h1>Building Details</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Building.Name)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Building.Name)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Building.Address)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Building.Address)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Building.IsActive)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Building.IsActive)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Building.VisitorParkingCount)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Building.VisitorParkingCount)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Building.AllowedReservationPerUnit)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Building.AllowedReservationPerUnit)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Building.AllowedReservationLength)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Building.AllowedReservationLength)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Building.ReservationInterval)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Building.ReservationInterval)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Building.Created)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Building.Created)
            </dd>
            <dd class="col-sm-12">
                <hr />
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@Model.Building.Id">
                            <input type="button" value="Edit" class="btn btn-warning" /> |
                        </a>

                        <a asp-page="./Index">
                            <input type="button" value="Back to List" class="btn btn-dark" />
                        </a>
                    }
                    else if (User.IsInRole("Manager"))
                    {
                        <a asp-page="./Edit" asp-route-id="@Model.Building.Id">
                            |
                            <input type="button" value="Edit" class="btn btn-warning" />
                        </a>
                    }
                    else
                    {
                        <a asp-page="../Index">
                            <input type="button" value="Back to Home" class="btn btn-dark" />
                        </a>
                    }
                }
            </dd>
        </dl>
    </div>
    <div class="col-md-8">
        @await Component.InvokeAsync("WeeklyCalendar", new { Building = Model.Building })
    </div>
</div>
<hr />
@await Component.InvokeAsync("ReservationList", new { Reservations = Model.Reservations, Query = Model.Query })